/*general*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #fcfcff;
}
main{
    min-height: 75vh;
}


/*fonts*/
*{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
h1, h2, h3, h4, h5{
    margin-top: 0;
    font-weight: 500;
}
h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.1rem;
}
h5{
    font-size: 1rem;
}
p{
    font-size: 1rem;
    margin: 0;
}


/*sections*/
.lefted{
    padding-left: 3vw;
}
.fixed_lefted{
    padding-left: 3vw;
}
.righted{
    padding-right: 3vw;
}
.topped{
    padding-top: 5vw;
}
.three_quarter_topped{
    padding-top: 7.5vw;
}
.double_topped{
    padding-top: 10vw;
}
.bottomed{
    padding-bottom: 5vw;
}
.half_bottomed{
    padding-bottom: 2.5vw;
}
.double_bottomed{
    padding-bottom: 10vw;
}
.dark{
    background-color: #eee;
}


/*cta*/
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    
    padding: 7px 17px;
    gap: 7px;
    
    border-radius: 1000px;
    border: none;
    background-color: #363230;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);

    transition: 0.25s;
}
.cta:hover{
    background-color: #5a5350;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    
    transform: scale(104%);
}
.cta svg{
    font-size: 1.1rem;
}
.cta p, .cta path{
    color: white;
}
.cta.red{
    background-color: red;
}
.cta.red:hover{
    background-color: rgb(255, 69, 69);
}


/*form general*/
input, textarea, select{
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border: 1px solid #eee;
    transition: background 0.125s;
    border-radius: 30px;
    margin-bottom: 10px;
}
input:focus, textarea:focus, select:focus{
    background-color: #eee;
    outline: none;
}
input, textarea, select, button{
    box-sizing: border-box;
}
input, textarea, select, form_submit{
    width: 100%;
}
.input_holder{
    display: flex;
    gap: 10px;
}
.input_holder input, .input_holder textarea, .input_holder select{
    width: 100%;
}


/*project*/
.project{
    min-width: 40em;
    text-decoration: none;
}
.project img{
    aspect-ratio: 3/2;
    background-color: aliceblue;
    width: 100%;
    margin-bottom: 15px;
}
.project_txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.project_txt h3{
    margin: 0;
}
#project_holder{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
#project_holder .project{
    width: calc(100%/2 - (25px/2));
}


/*articles*/
#articles{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.article{
    width: calc(100%/2 - (25px/2));
    text-decoration: none;
}
.article img{
    width: 100%;
    aspect-ratio: 16/9;
    background-color: aliceblue;
}
.article h3{
    margin-bottom: 10px;
}
.article_date{
    border-radius: 1000px;
    border: 1px solid #dadada;
    width: fit-content;
    padding: 5px 15px;
}


/*cta section*/
#cta_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1px solid #dadada;
    padding-bottom: 1px solid #dadada;
    background: linear-gradient(to bottom, white 0%, transparent 100%);
}
#cta_section h2{
    text-align: center;
}


/*dropdown*/
.dropdown:first-child{
    border-top: 1px solid #dadada;
}
.dd_header{
    border-bottom: 1px solid #dadada;
    padding: 20px 0;
    display: flex;
    gap: 50px;
}
.active .dd_header{
    cursor: pointer;
}
.dd_header h4{
    margin: 0;
}
.dd_header_half1{
    width: calc(30% - (50px/2));
}
.dd_header_half2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(70% - (50px/2));
}
.dd_toggle{
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    transition: rotate .5s;
}
.dd_content_holder{
    overflow-y: hidden;
    height: 0;
    padding-bottom: 1px;
}
.dd_content_holder {
    height: 0;
    overflow: hidden;
    transition: height 1.5s ease; /* Always animate height */
}
.dd_content {
    padding: 20px 0;
    padding-left: calc(30% + (50px/2));
    border-bottom: 1px solid #dadada;
}
.dd_content img{
    width: calc(35em);
    aspect-ratio: 3/2;
    margin-bottom: 15px;
    background-color: aliceblue;
    max-width: 100%;
}
.dd_content p{
    text-align: justify;
    text-align-last: left;
}


/*filters*/
.filters{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0 0 25px;
    list-style-type: none;
}
.filter{
    padding: 8px 15px;
    border: 1px solid #dadada;
    transition: background 0.125s;
    background-color: transparent;
    border-radius: 1000px;
}
.filter.current, .filter:hover{
    background-color: #dadada;
}


/* giant screen styling */
@media ( min-width: 1601px ) {
    /*sections*/
    .lefted{
        padding-left: calc((100vw - (1600px * 0.94))/2);
    }
    .fixed_lefted{
        padding-left: calc(1600px * 0.03);
    }
    .righted{
        padding-right: calc((100vw - (1600px * 0.94))/2);
    }
    .topped{
        padding-top: calc(1600px * 0.05);
    }
    .three_quarter_topped{
        padding-top: calc(1600px * 0.075);
    }
    .double_topped{
        padding-top: calc(1600px * 0.1);
    }
    .bottomed{
        padding-bottom: calc(1600px * 0.05);
    }
    .half_bottomed{
        padding-bottom: calc(1600px * 0.025);
    }
    .double_bottomed{
        padding-bottom: calc(1600px * 0.1);
    }
}


/* big tablet styling */
@media ( max-width: 1080px ) {
    /*sections*/
    .lefted{
        padding-left: 5vw;
    }
    .fixed_lefted{
        padding-left: 5vw;
    }
    .righted{
        padding-right: 5vw;
    }
    .topped{
        padding-top: 8vw;
    }
    .three_quarter_topped{
        padding-top: 12vw;
    }
    .double_topped{
        padding-top: 16vw;
    }
    .bottomed{
        padding-bottom: 8vw;
    }
    .half_bottomed{
        padding-bottom: 4vw;
    }
    .double_bottomed{
        padding-bottom: 16vw;
    }


    /*projects*/
    #project_holder .project{
        width: calc(100%/2 - (25px/2));
        min-width: 0;
    }


    /*dropdown*/
    .dd_header_half1{
        width: calc(20% - (50px/2));
    }
    .dd_header_half2{
        width: calc(80% - (50px/2));
    }    
    .dd_content {
        padding-left: calc(20% + (50px/2));
    }
}


/* regular tablet styling */
@media ( max-width: 850px ) {
    /*project*/
    .project{
        min-width: 35em;
    }
}


/* small tablet styling */
@media ( max-width: 775px ) {
    #hero_txt{
        max-width: 100%;
    }

    
    /*project*/
    .project{
        min-width: 30em;
    }
}


/* smaller tablet styling */
@media ( max-width: 700px ) {
    /*projects*/
    #project_holder{
        gap: 50px;
    }
    #project_holder .project{
        width: 100%;
        min-width: 0;
    }


    /*articles*/
    #articles{
        gap: 50px;
    }
    .article{
        width: 100%;
    }


    /*dropdown*/
    .dd_header_half1{
        width: calc(15% - (50px/2));
    }
    .dd_header_half2{
        width: calc(85% - (50px/2));
    }    
    .dd_content {
        padding-left: calc(15% + (50px/2));
    }
}


/* big phone styling */
@media ( max-width: 450px ) {
    /*fonts*/
    h1{
        font-size: 2.5rem;
        margin-bottom: 15px;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.3rem;
    }


    /*sections*/
    .topped{
        padding-top: 12vw;
    }
    .three_quarter_topped{
        padding-top: 18vw;
    }
    .double_topped{
        padding-top: 24vw;
    }
    .bottomed{
        padding-bottom: 12vw;
    }
    .double_bottomed{
        padding-bottom: 24vw;
    }

    
    /*project*/
    .project{
        min-width: 90vw;
    }


    /*dropdown*/
    .dd_header_half1{
        width: calc(25% - (50px/2));
    }
    .dd_header_half2{
        width: calc(75% - (50px/2));
    }    
    .dd_content {
        padding-left: 0;
    }
}


/* regular phone styling */
@media ( max-width: 400px ) { 
}